html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #EAE9EC;
  height: 100%;
  background: -webkit-radial-gradient(50% 70%, ellipse closest-side, #5A5C80, #14142B)
}

p {
  padding: 0.2rem;
  margin: 0px;
}

h2 {
  padding: 0.2rem;
  margin: 0px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.material-icons.orange { color: #DC8135; }
.material-icons.green { color: #68BE3C; }
.material-icons.light { color: #9699C0; }
.material-icons { font-size: 1.5rem; }
